*{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 3rem;
    color: #181818;
}
.nav-title .text-primary{
    color: #FD6E0A;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    background: #FD6E0A;
    border-radius: 5px;
}