*{
    font-family: 'Open Sans', sans-serif;
}

/* nav related style */
nav{
    margin: 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    font-weight: 800;
    font-size: 3rem;
    color: #181818;
}
.nav-title .text-primary{
    color: #FD6E0A;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    background: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 15px 35px;
}

/* header related style */
.header{
    background-color: #FFF8F3;
}

/* banner related styles */
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.profile-pic{
    width: 500px;
}
